.nav_bar {
  display: flex;
  background-color: #45d1b7;
  padding: 8px 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: #fff;
  font-size: 1.05rem;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;

}

.link:hover {
  background-color: #ff5862;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.mi_cuenta_button {
  background-color: #ff5862;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}